.user-img {
  border-radius: 50%;
}
.user-card {
  margin: 20px;
  border-radius: 15px;
  box-shadow: 17px 15px 31px -33px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 17px 15px 31px -33px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 17px 15px 31px -33px rgba(0, 0, 0, 0.75);
}
